<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="HomeDomain" value="localhost" />
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite Search - sc" stopProcessing="true">
          <match url="sc/search/" />
          <action type="Rewrite" url="Search.aspx?lang=sc" />
        </rule>
        <rule name="Rewrite Search - en" stopProcessing="true">
          <match url="en/search/" />
          <action type="Rewrite" url="Search.aspx?lang=en" />
        </rule>
        <rule name="Rewrite Search - tc" stopProcessing="true">
          <match url="search/" />
          <action type="Rewrite" url="Search.aspx?lang=tc" />
        </rule>
        <rule name="Rewrite Default - sc" stopProcessing="true">
          <match url="sc/" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{URL}" negate="true" pattern="\.axd$" />
          </conditions>
          <action type="Rewrite" url="Default.aspx?lang=sc" />
        </rule>
        <rule name="Rewrite Default - en" stopProcessing="true">
          <match url="en/" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{URL}" negate="true" pattern="\.axd$" />
          </conditions>          
          <action type="Rewrite" url="Default.aspx?lang=en" />
        </rule>
        <rule name="Rewrite Default - tc" stopProcessing="true">
          <match url="/" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{URL}" negate="true" pattern="\.axd$" />
          </conditions>
          <action type="Rewrite" url="Default.aspx?lang=tc" />
        </rule>        
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
