<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="sq_housedreaming" connectionString="Data Source=housedreaming.caoaiqxxw3ia.ap-southeast-1.rds.amazonaws.com;port=3306;Initial Catalog=HouseDreaming;User Id=root;password=housedreaming;charset=utf8" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Data.Entity, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="HomeDomain" value="localhost"/>
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite Search - sc" stopProcessing="true">
          <match url="sc/search/"/>
          <action type="Rewrite" url="Search.aspx?lang=sc"/>
        </rule>
        <rule name="Rewrite Search - en" stopProcessing="true">
          <match url="en/search/"/>
          <action type="Rewrite" url="Search.aspx?lang=en"/>
        </rule>
        <rule name="Rewrite Search - tc" stopProcessing="true">
          <match url="search/"/>
          <action type="Rewrite" url="Search.aspx?lang=tc"/>
        </rule>
        <rule name="Rewrite Default - sc" stopProcessing="true">
          <match url="sc/"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{URL}" negate="true" pattern="\.axd$"/>
          </conditions>
          <action type="Rewrite" url="Default.aspx?lang=sc"/>
        </rule>
        <rule name="Rewrite Default - en" stopProcessing="true">
          <match url="en/"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{URL}" negate="true" pattern="\.axd$"/>
          </conditions>
          <action type="Rewrite" url="Default.aspx?lang=en"/>
        </rule>
        <rule name="Rewrite Default - tc" stopProcessing="true">
          <match url="/"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{URL}" negate="true" pattern="\.axd$"/>
          </conditions>
          <action type="Rewrite" url="Default.aspx?lang=tc"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>